html {
  min-height: 100%;
  position: relative;
}

.navbar {
  background-color: #6D76A6 !important;
  margin-bottom: 20px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.btn-secondary, .btn-success {
  background-color: #FF8B00 !important;
  border-color: #FF8b00;    
}

.btn-secondary:hover, .btn-success:hover {
  border-color: #FF8B00 !important;
}

/* changing  primary collor */ 
.btn-primary {
  background-color: #6D76A6 !important;
  border-color: #6D76A6;
}

.btn-primary:hover {
  border-color: #6D76A6 !important;
}

.progress-bar {
  background-color: #6D76A6 !important;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  position: absolute;
  width: 100%;
}

.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2b4b90;
    *background-color: #133783;
    background-image: -moz-linear-gradient(top, #3b5998, #133783);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
    background-image: -webkit-linear-gradient(top, #3b5998, #133783);
    background-image: -o-linear-gradient(top, #3b5998, #133783);
    background-image: linear-gradient(to bottom, #3b5998, #133783);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active,
    .btn-facebook.active,
    .btn-facebook.disabled,
    .btn-facebook[disabled] {
        color: #ffffff;
        background-color: #133783 !important;
        *background-color: #102e6d !important;
    }

    .btn-facebook:active,
    .btn-facebook.active {
        background-color: #0d2456 \9 !important;
    } 

/* CSS Test begin */
.comment-box {
  margin-top: 30px !important;
}
/* CSS Test end */

.comment-box img {
  width: 50px;
  height: 50px;
}
.comment-box .media-left {
  padding-right: 10px;
  width: 65px;
}
.comment-box .media-body p {
  border: 1px solid #ddd;
  padding: 10px;
}
.comment-box .media-body .media p {
  margin-bottom: 0;
}
.comment-box .media-heading {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 7px 10px;
  position: relative;
  margin-bottom: -1px;
}
.comment-box .media-heading:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: -6px;
}

.vcenter {
  display: flex;
  align-items: center;
}